<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- <classPathEntry location="E:\开发工具\apache-maven-3.8.2\repository\mysql\mysql-connector-java\8.0.30.jar"></classPathEntry>-->
    <!-- 引入配置文件 -->
    <!--  <properties resource="application-dev.properties"></properties>-->

    <!-- 一个数据库一个context, context子元素必须按照如下顺序
        property*、plugin*、commentGenerator?、jdbcConnection、javaTypeResolver?
        javaModelGenerator、sqlMapGenerator?、javaClientGenerator?、table+
    -->
    <context id="myContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 生成的pojo，将implements Serializable -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>
        <!-- 生成的pojo，增加了equals 和 hashCode方法-->
        <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"></plugin>-->

        <commentGenerator>
            <!--            &lt;!&ndash; 是否去除自动生成的注释 true：是 ： false:否 &ndash;&gt;-->
            <property name="suppressAllComments" value="true"/>
            <!--            &lt;!&ndash; 添加 db 表中字段的注释 &ndash;&gt;-->
            <property name="addRemarkComments" value="true"/>
            <!--            &lt;!&ndash; 不希望生成的注释中包含时间戳 &ndash;&gt;-->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库链接URL、用户名、密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://ip:3306/test?useUnicode=true&amp;characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai&amp;useSSL=false"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer true，把JDBC DECIMAL
           和 NUMERIC 类型解析为java.math.BigDecimal -->
            <property name="forceBigDecimals" value="false"/>
            <!--默认false
                false，将所有 JDBC 的时间类型解析为 java.util.Date
                true，将 JDBC 的时间类型按如下规则解析
                   DATE	                -> java.time.LocalDate
                   TIME	                -> java.time.LocalTime
                   TIMESTAMP                   -> java.time.LocalDateTime
                   TIME_WITH_TIMEZONE  	-> java.time.OffsetTime
                   TIMESTAMP_WITH_TIMEZONE	-> java.time.OffsetDateTime
       -->
            <property name="useJSR310Types" value="false"/>
        </javaTypeResolver>

        <!-- 生成model模型，对应的包路径，以及文件存放路径(targetProject)，targetProject可以指定具体的路径,如src/main/java，
            也可以使用“MAVEN”来自动生成，这样生成的代码会在target/generated-source目录下 -->
        <!--<javaModelGenerator targetPackage="com.joey.mybaties.test.pojo" targetProject="MAVEN"> -->
        <javaModelGenerator targetPackage="com.crane.spring.po"
                            targetProject="src/main/java">
            <!-- 是否让schema作为包的后缀， 默认是false  -->
            <property name="enableSubPackages" value="false"/>
            <!-- 从数据库返回的值被清理前后的空格 是否针对string类型的字段在set方法中进行修剪，默认false    -->
            <!--<property name="trimStrings" value="true"/>-->
        </javaModelGenerator>

        <!--对应的mapper.xml文件 -->
        <sqlMapGenerator targetPackage="mappers"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- 对应的Mapper接口类文件
         type="XMLMAPPER" 会将接口的实现放在 mapper.xml中，也推荐这样配置。
         type="ANNOTATEDMAPPER"，接口的实现通过注解写在接口上面
         -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.crane.spring.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>


        <!-- 列出要生成代码的所有表，这里配置的是不生成Example文件 -->
        <table tableName="sys_config" domainObjectName="sysConfig"
               enableCountByExample="true" enableUpdateByExample="true"
               enableDeleteByExample="true" enableSelectByExample="true"
               selectByExampleQueryId="true">
            <!--是否使用实际列名,默认为false-->
            <property name="useActualColumnNames" value="false"/>
        </table>
    </context>


</generatorConfiguration>